<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Activities</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2017 - </div>
                        </div><!--//upper-row-->
                        <div class="company">Gachon University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Attend network seminar every week.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visit Consumer Electronics Show(CES)</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Las Vegas, NV</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Google Startup Weekend Hackathon</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Seoul, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed 'Monster Games' which is Location-Based Service(LBS) Game in Google Startup Weekend - Seoul hackathon that was held in Gachon univ.</p>
                        <p>Received 3rd place in final judgement.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Smartphone Education for the Aged</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Sujeong Senior Welfare Center</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Basic smartphone education for the aged in Sujeong senior welfare center during summer vacation.</p>
                        <p>Broadcasted in ABN which is Seongnam local broadcasting system.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
