<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Activities</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2017 - </div>
                        </div><!--//upper-row-->
                        <div class="company">Gachon University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Google Startup Weekend Hackathon</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Seoul, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed Location-Based Service(LBS) Game in Google Startup Weekend - Seoul hackathon that was held in Gachon univ.</p>
                        <p>Received 3rd place in final judgement.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Smartphone Education for the Aged</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Sujeong Senior Welfare Center</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
