<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-info"></i>Additional infomation</h2>
                <!-- <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div> -->
                <div class="item">
                    <span class="project-title"><a href="#hook">Traveled 11 countries</a></span><br>
                     - <span class="project-tagline">US, England, France, Switzerland, Italy, Austria, German, Netherland, Thailand, Philippines, Hongkong</span><br>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Certifications</a></span><br>
                     - <span class="project-tagline">Information equipment operation technician (2010)</span><br>
                     - <span class="project-tagline">TOPCIT(Test Of Practical Competency in ICT) score 368 (2016)</span>
                </div><!--//item-->
            </section><!--//section-->
