<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Gachon University</h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Seongnam, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>BSc in Computer Science</p>
                        <p>Learned about Discrete Mathmatics, Web Programming, Data Structure, OOP, OS, Computer Graphics, Technology Management, Software Engineering, Mobile Programming, Business Administration, Data Mining, Distribute System, Network, Algorithm, Database, Statistics, Robotics, Marketing, Computer Architecture and Machine Learning. </p>
                        <p>Received university scholarship for academic excellence.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <!-- <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Burton and South Derbyshire College</h3>
                            <div class="time">2016</div>
                        </div>
                        <div class="company">Birmingham, England</div>
                    </div>
                    <div class="details">
                        <p>Participated in short-term overseas training program which was held in International Affairs Center. </p>

                    </div>
                </div> -->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Daejin Design High School</h3>
                            <div class="time">2008 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Seoul, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Major : Computer Media Department
                        <p>Learned about Fundimental Computer Architecture, Visual Basic, C, Java, JavaScript, PHP, JSP, ASP, Network, Probability and Statistics, Photoshop, Premiere Pro, HTML and CSS. </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
