<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Engineer</h3>
        <div class="time">2017.6 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">Impressivo, Inc. - Seoul, Korea</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Development android application with fabric touch device.</p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Junior Software Engineer</h3>
        <div class="time">2017.1 - 2017.2</div>
      </div>
      <!--//upper-row-->
      <div class="company">PeopleSpace - Irvine, CA</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Created OpenVPN with using Amazon Web Service(AWS) for client information security in SymphonyRM which is Customer Relationship Management(CRM) company in PeopleSpace.</p>
      <!-- <p>Attended in the International Consumer Electronics Show(CES) 2017 which held in Las Vegas, NV.</p> -->
    </div>
    <!--//details-->
  </div>
  <!--//item-->

</section>
<!--//section-->
