<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduation Project</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">In & Out</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed 'Real-time indoor people count system' using arduino ultrasonic sensor and android application.</p>
                        <p>Apply random forest which is machine learning algorithm to sensor data for high performance.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Application</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">WHEN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed group schedule management android application that find intersection time of all group members.</p>
                        <p>Registered at google app store</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
